.productDetail {
    width: 25%;
    padding: 10px;
    margin: 0 auto;
    &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    &__category {
        color: gray;
        font-size: 14px;
        margin-top: 5px;
    }

    &__price {
        font-weight: bold;
        margin-top: 10px;
    }
}

.title {
    text-align: center;
    font-size: 32px;
}
