.error {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    &__image {
        width: 300px;
        height: 300px;
        margin-bottom: 2rem;
    }
}
